@import 'utlils/reset';

$ocean: #393F4B;
$gold: #F9D7AF;

body {
  background: linear-gradient(160deg, rgba(black, 0) 10%, black) no-repeat center center fixed, $ocean;
  background: linear-gradient($ocean 10%, mix($ocean, black, 20)) no-repeat center center fixed;
  background-size: cover;
  font: 300 16px sans-serif;
  height: 100%; width: 100%;
}


header {
  position: relative;
  top: 200px; 
  margin: auto;
  width: 80%;
  max-width: 320px;
  text-align: center;
  $animation: scale 2s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -webkit-animation: $animation;   
  animation: $animation;   

  h1 {
    color: $gold;
    text-shadow: 0 0 5px rgba($gold, .6);
    font-size: 3em;
    font-weight: 400;
    line-height: 2em;
    border-bottom: 1px solid $gold;
  }

  h2 {
    color: rgba($gold, .6);
    text-shadow: 0 0 3px rgba($gold, .2);
    line-height: 4.5;
  }
}



@mixin scaleFrom {
  -webkit-transform: scale(3);
  opacity: 0;
}

@mixin scaleTo {
  -webkit-transform: scale(1);
  opacity: 1;
}

@-webkit-keyframes scale {
  from { @include scaleFrom; }
  to { @include scaleTo; }
}

